*.o
*.ht2
.Rhistory
genie3
.DS_Store
TuxNet-HISAT2/.DS_Store
TuxNet-HISAT2/genome.fa
TuxNet-HISAT2/bin
TuxNet-HISAT2/samtools-1.2/misc/md5fa
TuxNet-HISAT2/samtools-1.2/misc/ace2sam
TuxNet-HISAT2/samtools-1.2/htslib-1.2.1/libhts.a
TuxNet-HISAT2/samtools-1.2/htslib-1.2.1/version.h
TuxNet-HISAT2/samtools-1.2/misc/maq2sam-long
TuxNet-HISAT2/samtools-1.2/libbam.a
TuxNet-HISAT2/samtools-1.2/misc/maq2sam-short
TuxNet-HISAT2/samtools-1.2/misc/wgsim
TuxNet-HISAT2/samtools-1.2/samtools
TuxNet-HISAT2/samtools-1.2/misc/md5sum-lite
TuxNet-HISAT2/samtools-1.2/test/merge/test_bam_translate
TuxNet-HISAT2/samtools-1.2/test/merge/test_pretty_header
TuxNet-HISAT2/samtools-1.2/test/split/test_count_rg
TuxNet-HISAT2/samtools-1.2/test/merge/test_rtrans_build
TuxNet-HISAT2/samtools-1.2/test/split/test_expand_format_string
TuxNet-HISAT2/samtools-1.2/test/split/test_parse_args
TuxNet-HISAT2/samtools-1.2/test/vcf-miniview
TuxNet-HISAT2/samtools-1.2/version.h
TuxNet-HISAT2/samtools-1.2/test/split/test_filter_header_rg
TuxNet-HISAT2/samtools-1.2/test/merge/test_trans_tbl_init
